ErrorDocument 403 /monology/App.php?ErrorCode=403
ErrorDocument 404 /monology/App.php?ErrorCode=404

<FilesMatch "\.(dat|log|csv|sql|sqlite|gitignore)$">
deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ ./App.php [QSA,L]
</IfModule>
